body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* тут все что находится внутри хедара  */
.header {
  display: flex;
  align-items: center;
  height: 60px;
  width: 769px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoSVG {
  background-image: url(./ounter.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  width: 119px;
  height: 34px;
}

.logoText {
  font-size: 78px;
  line-height: 47.15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #003399;
  margin: 0;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 600px;
}


.bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 265px;
}



/* хедер код закончен  */
.hr {
  background-color: orange;
  width: 770px;
}

/* тут все что находтся в нутри маин  */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 770px;
  height: 670px;
}

.numberText {
  font-size: 288px;
  color: #F27C0F;
  margin: 0;
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 710px;


}

.increase {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #003399;
  width: 200px;
  border-radius: 4px;
}

.decrease {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F27C0F;
  width: 200px;
  border-radius: 4px;
}

.reset {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E5E5E5;
  width: 200px;
  border-radius: 4px;
}

.textIncrease{
  color: rgb(255, 255, 255);
}

.textDecrease{
  color: rgb(252, 252, 252);
}
/* маин код закончен  */

/* тут все что внутри футер  */
.footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.footerMenu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 360px;
  margin: 0 20px;
}

.footerLogo {
  width: 112px;
  height: 33px;
  background-image: url(./Figma_D.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



.textPartners {
  font-size: 18px;
}

.textDevelopers {
  font-size: 18px;
}

.textVacancies {
  font-size: 18px;
}


/* футер код закнчен  */